*{
  margin: 0;
  padding: 0;
  box-shadow: border-box;

}


.header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-basis: 50%;
  background-color: #F27220;
  font-family: 'Poppins', sans-serif;
}

.logo{
  display: flex;
  justify-content:space-around;
  align-items: center;
  }
.title{

      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
  }
.nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
  }
li a{
    text-decoration: none;
    color: white;
  }
.row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 45px;
  margin-left: 20px;

}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
  margin-top: 3%;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 img{
  max-width: 100%;
  margin-left:20px;

}


.col-2 h3{
  margin-top: 10%;
  float: right;
  color: gray;
}
span{
  font-size: 30px;
  color: black;
}
.btn{
  display: inline-block;
  background:#F27220;
  color: white;
  padding:8px 30px;
  margin:30px 0;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.5s;
}
.btn:hover{
  background: #e3b946;
}
.bg_image{
  background: radial-gradient(#fff,#ffd6d6);

    max-width: 1300px;
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.gallery{
  margin: 70px 0;
}

.col-3{
  flex-basis: 20%;
  min-width: 250px;
  border-bottom:3px solid #F27220;

  margin-bottom: 25px;
  transition: transform 0.5s;
  height: 45vh;
  box-shadow: 6px -8px 12px grey;
}

.col-3 img{
  width: 100%;
  height: 100%;
}
.smallContainer{
  max-width: 1080;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.subhead{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.subhead::after{
  content: ' ';
  width: 45px;
  position: absolute;
  top: 86%;
  left:48%;
  border: 2px solid #F27220;
  border-radius: 4px;
}

.col-3:hover{
  transform: translateY(-5px);
}

.viewmore{
  margin-left: 80px;
  padding-left: 50px;
  font-size: 20px;
  text-decoration: none;
}
.viewmore:hover{
  color: #F27220;
}


/*------Contact Section ------------*/
.contactSection{
  background: radial-gradient(#fff,#ffd6d6);
  color: black;
  height: 52vh;
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Merienda', cursive;
}
.footer-col{
  margin: 12vh 10vh;
}
p{
  margin-top: 5px;
  margin-left: 20%;
}

  p>span{

    font-size: 18px;
    font-style: italic;
  }

.follow{
  margin: -10vh 10vh;

}
.contactSection a{
  color: white;
}

.instabtn{
  font-family: 'Poppins', sans-serif;
  margin-left: 3%;
  border: 0.5px solid #F27200;
  font-size: 25px;
  text-decoration: none;
  border-radius: 23px;
  padding: 5px 12px;
  background: #F27200;
}
.instabtn:hover{
  color: #F27200;
  background: white;
}
.blink{
  animation: blinker 2s linear infinite;
  color: #888888;
  margin-left: 20%;
}
@keyframes blinker {
  50%{
    opacity:0;
  }
}

/* ----- Feedback----*/
.extra{
  margin-bottom: 0;
}
.feedbackSection .comments{
  max-width: 500px;
  margin: 0 auto;
  border:2px solid #27220;
  padding: 2rem;

}
label{
  display: block;
  padding: 1rem 0 .25rem;
  text-transform: uppercase;
  font-size: 14px;
}
input,textarea{
  display:block;
  width: 50%;
  border: 2px solid #298089;
  padding: .5rem;
  font-size: 18px;
  border-radius: 5px;

}
#sendBtn{
  border: 0;
  background: #343050;
  padding: .5rem;
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s background ease;
}
#sendBtn:hover{
  background: #3498DB;
}
